* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
}

/* layout styles */

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.col-30 {
    width: calc(100% - 40px);
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.col-double-30 {
    width: calc(100% - 40px);
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.col-50 {
    width:calc(100% - 40px);
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.col-100 {
    width: 100%;
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container.x-small {
    max-width: 500px;
}

/* header */

header {
    background-color: rgb(0, 132, 253);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-logo {
    margin-left: 20px;
    color: white;
    font-size: 40px;
    padding: 20px 0;
}

.right-menu {
    margin-right: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.extended-menu {
    display: none;
    color: white;
}

.extended-menu ul {
    list-style-type: none;
    display: flex;
    font-weight: lighter;
    margin-right: 18px;
}
.extended-menu li {
    font-size: 20px;
    margin-left: 20px;
}

.extended-menu a:hover {
    text-decoration: underline;
}

.extended-menu button {
    padding: 10px 10px;
    border: none;
    border-radius: 25px;
}

/* seconda sezione, strategic planning e app development */

#strategicp-appdev {
    background-color: rgb(151, 146, 228);
}

/* quarta sezione, benefits of working with us */

#benefits-of-working-with-us {
    background-color: rgb(151, 146, 228);
}

/* sesta sezione, get started */

#get-started {
    background-color: rgb(151, 146, 228);
}

/* footer */

footer {
    background-color: rgb(51, 51, 51);
}

/* tablet view */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .col-30 {
        width: calc(100% / 3 - 40px);
    }
    .col-double-30 {
        width: calc(100% / 3 * 2 - 40px);
    }
    .col-50 {
        width: calc(100% / 2 - 40px);
    }
    #benefits-of-working-with-us .col-30 {
        width: calc(100% / 2 - 40px);
    }
}

/* desktop view */

@media screen and (min-width: 991px) {
    .container {
        max-width: 991px;
    }
    .hamburger {
        display: none;
    }
    .extended-menu {
        display: flex;
        align-items: center;
    }
    #benefits-of-working-with-us .col-30 {
        width: calc(100% / 3 - 40px);
    }
    .container.small {
        max-width: 800px;
    }
}

/* large desktop view */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}