* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout styles */

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.col-30 {
    width: calc(100% - 40px);
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.col-double-30 {
    width: calc(100% - 40px);
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.col-50 {
    width:calc(100% - 40px);
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.col-100 {
    width: 100%;
    height: 300px; /* da togliere */
    margin: 10px 20px;
    background-color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* header */

header {
    background-color: rgb(0, 132, 253);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.left-logo, .right-menu {
    height: 100%; /* da togliere */
    width: 100px; /* da togliere */
    background-color: yellow; /* da togliere */
}

.left-logo {
    margin-left: 20px;
}

.right-menu {
    margin-right: 20px;
}

.hamburger {
    width: 100%; /* da togliere */
    height: 100%; /* da togliere */
    background-color: red; /* da togliere */
}

.extended-menu {
    display: none;
    width: 100%; /* da togliere */
    height: 100%; /* da togliere */
    background-color: green; /* da togliere */
}

/* seconda sezione, strategic planning e app development */

#strategicp-appdev {
    background-color: rgb(151, 146, 228);
}

/* quarta sezione, benefits of working with us */

#benefits-of-working-with-us {
    background-color: rgb(151, 146, 228);
}

/* sesta sezione, get started */

#get-started {
    background-color: rgb(151, 146, 228);
}

/* tablet view */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .col-30 {
        width: calc(100% / 3 - 40px);
    }
    .col-double-30 {
        width: calc(100% / 3 * 2 - 40px);
    }
    .col-50 {
        width: calc(100% / 2 - 40px);
    }
    #benefits-of-working-with-us .col-30 {
        width: calc(100% / 2 - 40px);
    }
}

/* desktop view */

@media screen and (min-width: 991px) {
    .container {
        max-width: 991px;
    }
    .hamburger {
        display: none;
    }
    .extended-menu {
        display: block;
    }
    .container.small {
         width: 75%;
         max-width: 800px;
    }
    .container.x-small {
        width: 50%;
        max-width: 500px;
    }
    #benefits-of-working-with-us .col-30 {
        width: calc(100% / 3 - 40px);
    }
}

/* large desktop view */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}